// Main
.Article {
  padding: 1rem;
  h3 {
    width: 100%;
    font-size: 2rem;
    margin: .5rem 0;
    text-align: center;
  }
  overflow: hidden;
}
.gridCol2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  & > div {
    padding: 0 1rem;
    img {
      border-radius: .5rem;
      aspect-ratio: 16 / 9;

    }
  }
}
.GridCards2, .GridCards3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, max-content);
  grid-gap: 2rem;
}
.GridCards2 {
  grid-template-columns: repeat(2, minmax(300px, 1fr));
}
.GridCards3 {
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}
// Responsive Styles
@media (max-width: 1300px) {
  .gridCol2 {
    display: grid;
    grid-template-columns: 1fr;
    div {
      display: flex;
      flex-direction: column;
      picture {
        margin: auto;
      }
    }
  }
  .GridCards2, .GridCards3 {
    grid-template-columns: 1fr;
  }
  .gridText {
    order: -1;
  }
}