// Footer Container
.container {
  width: 100%;
  padding: 1rem var(--size-gutter-1);
  background-color: var(--color-Background-3);
  .footer {
    // Temporary Height
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 2.5rem 0;
    ul {
      // Media Stuff
      &.mediaList {
        padding-inline-start: 1.5rem;
        li {
          display: flex;
          svg {
            margin-right: 1rem;
          }
          a {
            margin: auto 0;
          }
        }
      }
      // Nav List Stuff
      li {
        list-style: none;
        padding: .5rem 0;
        position: relative;
        &:hover {
          margin-left: .25rem;
        }
        .arrow {
          position: absolute;
          border-right: 2px solid var(--color-Text-2);
          border-bottom: 2px solid var(--color-Text-2);
          width: .5rem;
          height: .5rem;
          top: 50%;
          left: -2rem;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
  }
  .bottom {
    display: flex;
    span {
      margin: auto;
    }
  }
}

@media (max-width: 900px) {
  .container span {
    text-align: center;
  }
  .footer {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (max-width: 700px) {
  .moto {
    display: none;
  }
}