:root {
  // ===========================================================================
  // Colors
  // ===========================================================================
  // Background
  --color-Background-1: #343535;
  --color-Background-2: #ecdd39;
  // Accents
  // Text
  --color-Text-0: #ffffff;
  --color-Text-1: #B2BCAF;
  --color-Text-2: #F3E539;
  --color-Text-3: #000000;
  // ===========================================================================
  // Sizes
  // ===========================================================================
  --size-gutter-1: 10rem;
}

// Responsive
@media (max-width: 1300px) {
  :root {
    --size-gutter-1: 5rem;
  }
}
@media (max-width: 900px) {
  :root {
    --size-gutter-1: 1rem;
  }
}